@model List<CustomerViewModal>

@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-header d-center d-flex flex-column text-light">
    <h1 class="f-bangers">Welcome to the</h1>
    <h1 class="hero-topic text-light f-archivo">E-COMM</h1>
    <h2 class="text-light f-bangers">Everythin you want !</h2>

    <button onclick="routeToComputers()"
        class="btn btn-outline-light start-btn mt-5">START JOURNEY</button>
</div>