@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="full-page d-center flex-column">
    <h1 class="mb-1 admin-topic f-bangers">WELCOME ADMIN !</h1>
    <h1 class="mb-5 admin-topic f-bangers" style="font-size: 3rem">SERVICE GALLERY</h1>
    <div class="d-center flex-wrap gap-4 container">
        <div class="d-flex gap-4">
            <button
                onclick="handleRoutes('https://localhost:7184/Manager/ManagerVga')"
                class="dashboard-btn">Manage VGA</button>
            <button onclick="handleRoutes('https://localhost:7184/Manager/ManagerRam')"
                class="dashboard-btn">Manage Ram</button>
            <button onclick="handleRoutes('https://localhost:7184/Manager/ManagerHard')"
                class="dashboard-btn">Manage Hard</button>
            <button onclick="handleRoutes('https://localhost:7184/Manager/ManagerProcessor')"
                class="dashboard-btn">Manage Processor</button>
        </div>
        <div class="d-flex gap-4">
            <button 
                onclick="handleRoutes('https://localhost:7184/Manager/ManagerOrders')"
                class="dashboard-btn">Manage Orders</button>
            <button onclick="handleRoutes('https://localhost:7184/Manager/ManagerCustomer')"
                class="dashboard-btn">Manage Customers</button>
            <button onclick="handleRoutes('https://localhost:7184/Manager/ManagerCategory')"
                class="dashboard-btn">Manage Categories</button>
            <button class="dashboard-btn">Manage Devices</button>
        </div>
    </div>
</div>