@model List<ProcessorModal>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-5 w-100">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Manager" asp-action="Index">e_comm</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item custom-nav-item" onclick="handleRoute('https://localhost:7184/Manager/ManagerVga')">
                        <p class="nav-link text-dark">VGA</p>
                    </li>
                    <li onclick="handleRoute('https://localhost:7184/Manager/ManagerRam')" class="nav-item custom-nav-item">
                        <p class="nav-link text-dark">RAM</p>
                    </li>
                    <li onclick="handleRoute('https://localhost:7184/Manager/ManagerHard')" class="nav-item custom-nav-item">
                        <p class="nav-link text-dark">HARD</p>
                    </li>
                    <li onclick="handleRoute('https://localhost:7184/Manager/ManagerProcessor')" class="nav-item custom-nav-item">
                        <p class="nav-link text-dark">PROCESSORS</p>
                    </li>
                    <li onclick="handleRoute('https://localhost:7184/Manager/ManagerOrders')" class="nav-item custom-nav-item">
                        <p class="nav-link text-dark">Orders</p>
                    </li>
                    <li onclick="handleRoute('https://localhost:7184/Manager/ManagerCustomer')" class="nav-item custom-nav-item">
                        <p class="nav-link text-dark">Customers</p>
                    </li>
                    <li onclick="handleRoute('https://localhost:7184/Manager/ManagerCategory')" class="nav-item custom-nav-item">
                        <p class="nav-link text-dark">Categories</p>
                    </li>
                    <li onclick="handleRoute('https://localhost:7184/manager/ManagerDevices')" class="nav-item custom-nav-item">
                        <p class="nav-link text-dark">Devices</p>
                    </li>
                    <li class="nav-item">
                        <button hidden onclick="handleLogout()" id="btnLogout" class="btn btn-outline-danger">LOGOUT</button>
                        <button hidden onclick="handleLogin()"
                                id="btnLogin" class="btn btn-outline-primary">
                            LOGIN
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="w-100 container" style="height: 100vh">

    <h1 class="f-bangers">Manage Processor</h1>

    <div class="form-container mt-5">
        <div class="row pt-3">
            <div class="form-group col-lg-4">
                <label class="control-label mb-2">Processor Title</label>
                <input id="processorTitle" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group col-lg-4">
                <label class="control-label mb-2">Clock Speed</label>
                <input id="processorClockSpeed" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group col-lg-4">
                <label class="control-label mb-2">Price (lkr)</label>
                <input type="number" id="processorPrice" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <div class="form-group">
                    <button class="btn btn-primary" onclick="addNewProcessor()">ADD NEW PROCESSOR</button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-container mt-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Clock Speed</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <th scope="row">@category.Id</th>
                        <td>@category.Title</td>
                        <td>@category.Clock_speed</td>
                        <td>Rs.@category.Price /=</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>