.dashboard-btn {
    background-color: rgba(60, 64, 198, 0.1);
    padding: 10px 30px;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #2980b9;
    color: rgba(41, 128, 185,1.0);
    transition: 0.1s;
}

.dashboard-btn:hover {
    width: 250px;
    background-color: #3c40c6;
    color: white;
    transition: 0.3s;
    transform: scale(1.1, 1.1);
}

.dashboard-btn:active {
    transform: scale(0.9, 0.9);
    width: 200px;
}

.admin-topic {
    text-shadow: 5px 3px 2px #ced6e0;
    color: #3c40c6;
    font-size: 5rem;
}

.form-container {
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #a4b0be;
}